#articleContainer {
  background-color: white;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 150px;
  position: relative;

  .article-card {
    overflow: hidden;
    display: flex;
    width: 100%;
    margin: 20px;
  }

  .article-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .article-content {
    padding: 20px;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    p {
      color: #666;
    }

    .read-more-link {
      display: inline-block;
      margin-top: 10px;
      color: #007bff;
      text-decoration: none;
    }

    .read-more-link:hover {
      text-decoration: underline;
    }
  }
}
