* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  a {
    text-decoration: none;
  }
  ul {
    list-style-type: none;
  }
  .icon-link {
    font-size: 50px;
    margin-top: 50px;
  }
  #top-left {
    position: absolute;
    left: 50px;
    top: 50px;
    h2 {
      font-size: 30px;
    }
    p {
      color: green;
      font-size: 25px;
    }
  }
}
